.nav-link{
    font-size: 1.8rem;
    color: inherit !important;
}

.navbar-brand{
    font-family: 'Viga', sans-serif;
    font-size: 1.6rem !important;
    color: inherit !important;
}

.user-circle{
    color: inherit;
}
