.menu-item{
	font-weight: 500 !important;
	color: inherit !important;
}

.menu-item:hover::after {
	content: '';
	display: block;
	border-top: 3px solid #333333;
	width: 50%;
	margin: auto;
	margin-bottom: -3px;
}

.btn:focus{
	outline: none !important;
	box-shadow: none !important;
}